.album_cover {
  height: 400px;
  width: 400px;
  display: block;
  margin: auto;
  margin-bottom: 32px;
}

.flexContainer {
  display: flex;
  color: white;
}

.artist_cover {
  max-width: 600px;
  height: 600px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

h3 {
  color: white;
}

.slick-slide div {
  outline: none;
}

.home_container {
  height: fit-content;
}
.top_title {
  margin-top: 12px;
}

.unreachable {
  text-align: center;
  margin-top: 350px;
}

.unreachable_text {
  font-family: Arial;
  margin-top: -100px;
  font-size: 130px;
  background: -webkit-linear-gradient(#b3b3b3, #d3d3d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.playlist_cover {
  height: 400px;
  width: 400px;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  margin-top: -10px;
}

.song_cover {
  height: 400px;
  width: 400px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: -10px;
}

h1 {
  margin-top: -5px;
  margin-left: 8px;
}

h3 {
  margin-top: -10px;
  margin-left: 8px;
}
